---
---

@import "{{ site.theme }}";


.imgLeft {
  width:50%; 
  border:1px solid green; 
  float:left; 
  margin: 0 10px 10px 0;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #989915;
    background-image: linear-gradient(120deg, #15993e, #993c15);
}



.btn2 {
  border-radius: 4px;
  background-color:#3a6186;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}
